<!DOCTYPE html>
<html  lang="zh-CN" 
xmlns:th="http://www.thymeleaf.org"
>
<!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="common/common" -->
<head>
<meta charset="UTF-8"></meta>
<title>thymeleaf学习</title>
	<link rel="stylesheet"  type="text/css" href="../../css/amazeui.min.css" th:href="@{../../css/amazeui.min.css}"></link>
	<script th:src="@{../../js/vue.js}"></script>
</head>
<body>
<div class="am-g">
  <div class="am-u-sm-4">4</div>
  <div class="am-u-sm-8">8</div>
</div>
	静态展示属性：name=<span th:text="${name}"></span>,age=<span th:text="${age}"></span>
	<hr/>
	name+age  <span th:text="${name}+${age}"></span>
	<hr/>
	<ul>
	<li th:each="var:${list}"><span th:text="${var}"></span></li>	
	</ul>
	<hr/>
	<ul>
	<li th:each="var:${arr}"><span th:text="${var}"></span></li>	
	</ul>
	<hr/>
	 <table class="am-table">
        <thead>
            <th>序号</th>
            <th>学生id</th>
            <th>学生姓名</th>
            <th>学生年龄</th>
            <th>学生课程-课程列表</th>
            <th>学生课程-课程分数</th>
        </thead>
        <tbody>
            <tr th:each="entries,stat:${resultList}" th:style="'background-color:'+@{${stat.odd}?'#F2F2F2'}">
                <td th:text="${stat.count}"></td>
                <td th:text="${entries['sid']}"></td>
                <td th:text="${entries['sname']}"></td>
                <td th:text="${entries['sage']}"></td>
                <!-- 写法一：
                <td th:text="${entries['scourse']['cname']}"></td>
                <td th:text="${entries['scourse']['cscore']}"></td>-->
                <!-- 写法二：
                <td th:text="*{entries['scourse']['cname']}"></td>
                <td th:text="*{entries['scourse']['cscore']}"></td>-->
                <!-- 写法三：-->
                <td th:object="${entries['scourse']}">
                    <span th:text="*{['cname']}"></span>
                </td>
                <td th:object="${entries['scourse']}">
                    <span th:text="*{['cscore']}"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <!--  amazeui -->
    <table class="am-table">
    <thead>
        <tr>
            <th>网站名称</th>
            <th>网址</th>
            <th>创建时间</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Amaze UI</td>
            <td>http://amazeui.org</td>
            <td>2012-10-01</td>
        </tr>
        <tr>
            <td>Amaze UI</td>
            <td>http://amazeui.org</td>
            <td>2012-10-01</td>
        </tr>
        <tr class="am-active">
            <td>Amaze UI(Active)</td>
            <td>http://amazeui.org</td>
            <td>2012-10-01</td>
        </tr>
        <tr>
            <td>Amaze UI</td>
            <td>http://amazeui.org</td>
            <td>2012-10-01</td>
        </tr>
        <tr>
            <td>Amaze UI</td>
            <td>http://amazeui.org</td>
            <td>2012-10-01</td>
        </tr>
    </tbody>
</table>
    
</body>
</html>